label {
    font-weight: bold;
}

/* placeholder style */
.form-control::-moz-placeholder {
    color: #bbb;
}
.form-control:-ms-input-placeholder {
    color: #bbb;
}
.form-control::-webkit-input-placeholder {
    color: #bbb;
}

.table-img {
    max-width: 150px;
}

.visitationnote-img {
    max-width: 200px;
}


.img-rounded {
    border-radius: 5px;
}

.img-logo {
    max-height: 50px;
}

#chooseNewMedia {
    background:#eee;
    border: 0.5px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    display:none;
}

.bootbox .modal-content{
    -webkit-box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.79);
    box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.79);
}


/* --- NAV TABS --- */
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #fff;
    color: #345589 !important;
}

.tab-content{
    display: none;
    background: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab-content.current{
    display: inherit;
}